[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
sqlalchemy = "==2.0.30"
werkzeug = "==3.0.3"
flask-migrate = "==4.0.7"
pydantic = "==2.7.4"
psycopg2 = "==2.9.9"
email-validator = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
